# editorconfig.org
root = true

[*.{js,cjs,mjs,jsx,ts,cts,mts,tsx,json,jsonc}]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120

[*.md]
trim_trailing_whitespace = false
