{
  "extends": "@appium/eslint-config-appium",
  "overrides": [
    {
      "files": "packages/fake-driver/**/*",
      "rules": { "require-await": "off" }
    },
    { "files": "packages/support/**/*", "globals": { "BigInt": "readonly" } },
    {
      "files": "packages/*/test/**/*",
      "rules": { "func-names": "off" }
    },
  ],
  "rules": {
    "import/no-unresolved": "off"
  } 
}
