[submodule "submodules/instruments-without-delay"]
	path = submodules/instruments-without-delay
	url = https://github.com/facebook/instruments-without-delay.git
[submodule "submodules/ApiDemos"]
	path = submodules/ApiDemos
	url = https://github.com/appium/android-apidemos.git
[submodule "submodules/appium.io"]
	path = submodules/appium.io
	url = https://github.com/appium/appium.io.git
[submodule "submodules/selendroid"]
	path = submodules/selendroid
	url = https://github.com/selendroid/selendroid.git
[submodule "submodules/fruitstrap"]
	path = submodules/fruitstrap
	url = https://github.com/tborys/fruitstrap.git
[submodule "submodules/io.appium.gappium.sampleapp"]
	path = submodules/io.appium.gappium.sampleapp
	url = https://github.com/appium/io.appium.gappium.sampleapp.git
[submodule "submodules/udidetect"]
	path = submodules/udidetect
	url = https://github.com/vaskas/udidetect.git
[submodule "submodules/unlock_apk"]
	path = submodules/unlock_apk
	url = https://github.com/appium/unlock_apk.git
[submodule "submodules/SafariLauncher"]
	path = submodules/SafariLauncher
	url = https://github.com/budhash/SafariLauncher.git
[submodule "submodules/libimobiledevice-macosx"]
	path = submodules/libimobiledevice-macosx
	url = https://github.com/benvium/libimobiledevice-macosx.git
