[submodule "submodules/instruments-without-delay"]
	path = submodules/instruments-without-delay
	url = git://github.com/facebook/instruments-without-delay.git
[submodule "submodules/ApiDemos"]
	path = submodules/ApiDemos
	url = https://github.com/appium/android-apidemos.git
[submodule "submodules/appium.io"]
	path = submodules/appium.io
	url = https://github.com/appium/appium.io.git
