.DS_Store
node_modules
*.trace
xcuserdata
sample-code/apps/TestApp/build
sample-code/apps/WebViewApp/build
*.sublime-*
sample-code/apps/UICatalog*
sample-code/examples/php/composer.lock
sample-code/examples/php/composer.phar
sample-code/examples/php/vendor
sample-code/examples/ruby/Gemfile.lock
*.iml
.idea/
appium.log*
