.irb-history
*.swp
.DS_Store
npm*.log
node_modules
*.trace
xcuserdata
sample-code/apps/TestApp/build
sample-code/apps/WebViewApp/build
sample-code/apps/gps-demo*
*.sublime-*
sample-code/apps/UICatalog*
sample-code/apps/io.appium.gappium*
sample-code/apps/WebViewDemo*
sample-code/examples/dotnet/SimpleTest/*.userprefs
sample-code/examples/php/composer.lock
sample-code/examples/php/composer.phar
sample-code/examples/php/vendor
sample-code/examples/ruby/Gemfile.lock
test/functional/_joined
*.iml
*.autosave
.idea/
appium*.log*
android/bootstrap/bin/*
android/bootstrap/local.properties
android/bootstrap/project.properties
android/bootstrap/.classpath
sample-code/apps/ApiDemos
lib/android/AndroidManifest.xml.apk
lib/android/AndroidManifest.xml
.*~
*~
android/bootstrap/target/
org.eclipse.ltk.core.refactoring.prefs
/selendroid
.appiumconfig
build/
.idea
