assets/
submodules/
publish.sh
sample-code/
test/
android/bootstrap/bin/
android/bootstrap/target/
app/android/AndroidManifest*
_vimrc_local.vim
*.swp
*.swo
*~
.*~
.DS_Store
.travis.yml
*.log
*.trace
*.sublime-
*.prefs
