assets/
submodules/
publish.sh
reset.sh
reset.bat
test.sh
sample-code/
test/
android/bootstrap/bin/
android/bootstrap/target/
lib/android/AndroidManifest.xml.apk
_vimrc_local.vim
*.swp
*.swo
*~
.*~
.DS_Store
.travis.yml
*.log
*.trace
*.sublime-
*.prefs
.jshintrc
./.npmignore
