**/node_modules/**
**/build/**
**/fixtures/**
**/*.min.*
**/*.md
package-lock.json
package.json
**/.vscode/**
**/*.html
**/generated/**
# generated
packages/schema/lib/appium-config.schema.json
packages/types/lib/appium-config.ts
**/*.hbs

/.nx/workspace-data