language: objective-c
osx_image: mavericks
notifications:
  email: false
rvm:
- 2.1.1
branches:
  only:
  - master
git:
  submodules: false
env:
  global:
  - SAUCE_REST_ROOT=https://saucelabs.com/rest/v1
  - APPIUM_HOST='ondemand.saucelabs.com'
  - APPIUM_PORT=80
  - SAUCE_USERNAME=appium
  - secure: GXGFbQptLEsKlaWnpOL2EB9hqQ4XBT6tqg7REt5j1h1jYBsfHQHSgSLt1jpzOF5kooXVbw2K7IrZyNVBXEUHR00Hp6O72FBOd+SSj8uPCJBLjAOaJWs0ZtujqGHwHpe6gadFfn0L7q0ffoV5OJVeNHHcuw4f9BaA78fTFNfm1jE=
  - secure: WLRP9RJIHWPer189swCqMCnexS8XpVQ8FRMSXNxLXp5fUaERVzU7/ncGFeqcM8GWGIU12PP8TJUaMRa58vTGgApW6POMdAPiauepfzoru+n/S4Xrw64hmd4oK0GEZI3wgnkPofUn6TzQeXRmVG496PNzbV8KfqF4mTAesZOLSFA= 
  matrix:
  - CI_CONFIG=unit
  - CI_CONFIG=build_ios
  - CI_CONFIG=build_android
  - CI_CONFIG=build_selendroid
  - CI_CONFIG=build_gappium
before_script:
- gem install --no-rdoc --no-ri appium_doc_lint
- "./ci/git-config.sh"
- "./ci/installers/install-node.sh"
- "echo Node.js version: `node -v`"
- npm install -g jshint grunt-cli mocha
- npm install
- "./ci/before_script_extra.sh"
script:
- "./ci/script.sh"
