language: node_js
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
env:
  global:
    - CXX=g++-4.8
node_js: "10"
jobs:
  include:
    - stage: Tests
      os:
        - linux
        - sudo: false
      script: npm run test && npm run e2e-test
      node_js: "10"
    - stage:
      os:
        - linux
        - sudo: false
      script: npm run test && npm run e2e-test
      node_js: "8"
    - stage:
      os:
        - linux
        - sudo: false
      script: npm run test && npm run e2e-test
      node_js: "6"
    - stage:
      os:
        - linux
        - sudo: false
      env:
        # this is just to indicate in the Travis job list that this is generating docs
        - GENERATE_DOCS=true
      script: npm run generate-docs
    - stage: BinTray Bundle Build and Upload
      # only want to run this on the main master branch
      if: branch = master AND type != pull_request
      os:
        - osx
        - osx_image: xcode9.4
      env:
        - NODE_ENV=production
      node_js: 9
      branches:
        only:
        - master
      os: osx # Need to use Mac OSX build to build XCUITestDriver
      osx_image: xcode9.4
      script:
        # Install prod dependencies
        - npm install

        # Install only the dev dependencies that we need
        - npm install --only=dev gulp
        - npm install --only=dev appium-gulp-plugins
      before_script:
        # Build the assets
        - npm run build

        # Remove the dev depenedencies
        - npm prune
      script: npm run zip-and-upload
