<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appium.WebDriver" version="0.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="net40" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="2.41.0" targetFramework="net40" />
</packages>