<?xml version="1.0" encoding="UTF-8"?>
<app>
    <MockNavBar>
        <MockTextField id="Mock App" />
    </MockNavBar>
    <MockWebView>
        <html></html>
    </MockWebView>
    <MockListView>
        <MockListItem />
        <MockListItem />
        <MockListItem />
    </MockListView>
    <MockInputField />
    <MockButton id="Button1" visible="false" enabled="false" />
    <MockButton id="Button2" selected="true" />
</app>
