<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appium.WebDriver" version="3.0.0.2" targetFramework="net47" />
  <package id="Castle.Core" version="4.3.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="NUnit" version="3.10.1" targetFramework="net47" />
  <package id="Selenium.Support" version="3.8.0" targetFramework="net47" />
  <package id="Selenium.WebDriver" version="3.8.0" targetFramework="net47" />
</packages>