# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Appium Build
on: [push, pull_request]

permissions:
  contents: read

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@eeb10cff27034e7acf239c5d29f62154018672fd # tag=v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install latest npm
        run: npm install -g npm
      - name: Install dependencies
        run: |
          npm install
          npm run install-mjpeg-consumer
      - name: Run smoke tests
        uses: boneskull/nodejs-production-test-action@v1
        with:
          script: test:smoke
          workspaces: true
          quiet: true
      - name: Run unit & E2E tests
        run: npm run test:ci

  lint:
    name: Lint & Check Types
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3
      - name: Install dependencies
        run: npm install
      - name: ESLint
        run: npm run lint
      - name: Check types
        run: npm run build:types

  docs:
    name: Build Command Documentation
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3
      - name: Install dependencies
        run: npm install
      - name: Generate docs
        run: npm run generate-docs
