name: Appium Build
on:
  push:
    # this list of paths could potentially impact the build
    paths:
      - '**/tsconfig*.json'
      - 'packages/base-driver/static/**/*'
      - 'packages/*/test/**'
      - 'packages/*/bin'
      - 'packages/**/*.ts'
      - 'packages/**/*.json'
      - 'packages/**/*.js'
      - 'package*.json'
      - 'lerna.json'
      - '.npmrc'
      - '.mocharc.js'
      - '.github/workflows/build.yml' # this file
      - '.eslintrc'
      - '.eslintignore'
      - '!**/sample-code/**'
      - '!packages/*/docs/**'
  pull_request:
    paths:
      - '**/tsconfig*.json'
      - 'packages/base-driver/static/**/*'
      - 'packages/*/test/**'
      - 'packages/*/bin'
      - 'packages/**/*.ts'
      - 'packages/**/*.json'
      - 'packages/**/*.js'
      - 'package*.json'
      - 'lerna.json'
      - '.npmrc'
      - '.mocharc.js'
      - '.github/workflows/build.yml' # this file
      - '.eslintrc'
      - '.eslintignore'
      - '!**/sample-code/**'
      - '!packages/*/docs/**'

permissions:
  contents: read

jobs:
  test:
    name: Tests
    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]
        os:
        - ubuntu-latest
        - windows-latest
        # TODO: Enable below envs after all tests have been verified green
        # - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@e33196f7422957bea03ed53f6fbb155025ffc7b8 # v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: Install latest npm (win)
        if: ${{ matrix.os == 'windows-latest' }}
        # for some reason there's a bug in upgrading npm on win, have to install a specific version first
        # https://github.com/actions/setup-node/issues/623
        run: |
          npm install -g npm@8.3.1
          npm install -g npm@latest
      - name: Install latest npm (non-win)
        if: ${{ matrix.os != 'windows-latest' }}
        run: npm install -g npm
      - name: Install dependencies
        uses: bahmutov/npm-install@1a235c31658a322a3b024444759650ee6345c26d # tag=v1
        with:
          useRollingCache: true
          install-command: npm ci --foreground-scripts
      - name: Run smoke, unit & E2E tests
        run: npm run test:ci

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3
      - name: Install dependencies
        uses: bahmutov/npm-install@1a235c31658a322a3b024444759650ee6345c26d # tag=v1
        with:
          useRollingCache: true
          install-command: npm ci
      - name: ESLint
        run: npm run lint:ci
