name: Validate Renovate Configs
on:
  push:
    paths:
      - '.github/workflows/renovate.yml' # this file
      - '.renovaterc.json'
      - 'renovate/default.json'
  pull_request:
    paths:
      - '.github/workflows/renovate.yml' # this file
      - '.renovaterc.json'
      - 'renovate/default.json'

permissions:
  contents: read

jobs:
  renovate:
    name: Check Renovate Configs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      - name: Validate Renovate Config
        uses: rinchsan/renovate-config-validator@1ea1e8514f6a33fdd71c40b0a5fa3512b9e7b936 # tag=v0
        with:
          pattern: '{.renovaterc.json,renovate/default.json}'
